# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.idea
target
CubeSimilarity.iml
corpus_categories-target
corpus_categories-target.syn0.npy
corpus_categories-target.syn1.npy
oldDatahub/0-all-datasets.txt
oldDatahub/1-dataset-sparql.txt
oldDatahub/2-endpoints-cubes.txt
oldDatahub/3-endpoints-cubes-cleaned.txt
